# Exercise: MySQL Store Database
In this exercise, you will create a MySQL database for a simple store system. The store has two main tables:
- `clients`
- `items`

You will:
1. Create the database
2. Create the two tables
3. Insert two sample records into each table

Use the following steps and code templates as a guide.

## Step 1: Connect to MySQL Server

In [ ]:

import mysql.connector

def connect_to_mysql():
    connection = mysql.connector.connect(
        host="localhost",
        user="root",
        password="your_password"  # Replace with your actual password
    )
    return connection

conn = connect_to_mysql()

## Step 2: Create Store Database

In [ ]:

def create_database(connection, db_name):
    cursor = connection.cursor()
    cursor.execute(f"CREATE DATABASE IF NOT EXISTS {db_name}")
    cursor.close()
    print(f"Database '{db_name}' created.")

create_database(conn, "store_db")

## Step 3: Connect to the `store_db` Database

In [ ]:

def connect_to_database(db_name):
    connection = mysql.connector.connect(
        host="localhost",
        user="root",
        password="your_password",
        database=db_name
    )
    return connection

conn.close()
conn = connect_to_database("store_db")

## Step 4: Create `clients` and `items` Tables

In [ ]:

def create_tables(connection):
    cursor = connection.cursor()
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS clients (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(255) NOT NULL,
        email VARCHAR(255)
    )
    """)
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS items (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(255) NOT NULL,
        price DECIMAL(10, 2)
    )
    """)
    cursor.close()
    print("Tables 'clients' and 'items' created.")

create_tables(conn)

## Step 5: Insert Sample Data into Each Table

In [ ]:

def insert_sample_data(connection):
    cursor = connection.cursor()
    cursor.execute("INSERT INTO clients (name, email) VALUES ('Alice Smith', 'alice@example.com')")
    cursor.execute("INSERT INTO clients (name, email) VALUES ('Bob Johnson', 'bob@example.com')")
    cursor.execute("INSERT INTO items (name, price) VALUES ('Laptop', 1200.50)")
    cursor.execute("INSERT INTO items (name, price) VALUES ('Phone', 699.99)")
    connection.commit()
    cursor.close()
    print("Sample data inserted into 'clients' and 'items'.")

insert_sample_data(conn)

## Step 6: View Data in Both Tables

In [ ]:

def view_table(connection, table_name):
    cursor = connection.cursor()
    cursor.execute(f"SELECT * FROM {table_name}")
    for row in cursor.fetchall():
        print(row)
    cursor.close()

view_table(conn, "clients")
view_table(conn, "items")