# MySQL CRUD Operations with Python
This Jupyter Notebook demonstrates how to perform basic **Create**, **Read**, **Update**, and **Delete** (CRUD) operations using Python and MySQL.

## Step 1: Install MySQL Connector
To interact with MySQL from Python, you need to install the `mysql-connector-python` package.

In [29]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\william\appdata\local\programs\python\python312\lib\site-packages (9.3.0)

WARNING: Ignoring invalid distribution ~ (C:\Users\William\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ (C:\Users\William\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ (C:\Users\William\AppData\Local\Programs\Python\Python312\Lib\site-packages)

## Step 2: Import Required Libraries

In [30]:
import mysql.connector

## Step 3: Connect to MySQL Server
Update the credentials as per your MySQL setup.

In [38]:
def connect_to_mysql():
    connection = mysql.connector.connect(
        host="localhost",       # Replace with your host
        user="root",            # Replace with your username
        password="william"      # Replace with your password
    )
    print("We are successfully connected to the MySQL Server!")
    return connection

## Step 4: List Existing Databases

In [42]:

def list_databases(connection):
    cursor = connection.cursor()
    cursor.execute("SHOW DATABASES")
    print("Here are our current databases:")
    for db in cursor.fetchall():
        print(db[0])
    cursor.close()

conn = connect_to_mysql() # Establish connection to MySQL Server
list_databases(conn)

We are successfully connected to the MySQL Server!
Here are our current databases:
information_schema
mysql
performance_schema
sys

## Step 5: Create a New Database

In [43]:
def create_database(connection, db_name):
    cursor = connection.cursor()
    cursor.execute(f"CREATE DATABASE IF NOT EXISTS {db_name}")
    cursor.close()
    print(f"Database '{db_name}' created.")

create_database(conn, "college")

Database 'college' created.

## Step 6: Connect to the Specific Database

In [61]:

def connect_to_database(db_name):
    connection = mysql.connector.connect(
        host="localhost",
        user="root",
        password="william",
        database=db_name
    )
    return connection

conn.close()
conn = connect_to_database("college")

## Step 7: Create Table

In [47]:

def create_table(connection):
    cursor = connection.cursor()
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS students (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(255),
        age INT,
        major VARCHAR(255)
    )
    """)
    cursor.close()
    print("Table students created.")

create_table(conn)

Table students created.

## Step 8: CRUD Operations
### Insert a Student

In [57]:

def insert_student(connection, name, age, major):
    cursor = connection.cursor()
    query = "INSERT INTO students (name, age, major) VALUES (%s, %s, %s)"
    cursor.execute(query, (name, age, major))
    connection.commit()
    cursor.close()
    print(f"Inserted: {name}")

insert_student(conn, "William", 43, "Computer Science")
insert_student(conn, "Allan", 33, "Programming")

Inserted: William
Inserted: Allan

### Read Students

In [62]:

def read_students(connection):
    cursor = connection.cursor()
    cursor.execute("SELECT * FROM students")
    for row in cursor.fetchall():
        print(row)
    cursor.close()

read_students(conn)

(1, 'WilliamP', 43, 'Computer Science')
(2, 'AllanW', 55, 'Programming')

### Update Student's Major

In [63]:

def update_student_major(connection, student_id, new_major):
    cursor = connection.cursor()
    cursor.execute("UPDATE students SET major = %s WHERE id = %s", (new_major, student_id))
    connection.commit()
    cursor.close()
    print("Major updated.")

update_student_major(conn, 2, "Game Development")
read_students(conn)

Major updated.
(1, 'WilliamP', 43, 'Computer Science')
(2, 'AllanW', 55, 'Game Development')

### Delete Student

In [68]:

def delete_student(connection, student_id):
    cursor = connection.cursor()
    cursor.execute("DELETE FROM students WHERE id = %s", (student_id,))
    connection.commit()
    cursor.close()
    print("Student deleted.")

delete_student(conn, 2)
print("here are the remaining records:")
read_students(conn)

Student deleted.
here are the remaining records: