# Working with CSV and JSON Files in Python

This notebook demonstrates how to load, inspect, and manipulate CSV and JSON files using `pandas`. It includes examples with comma-separated and semicolon-separated files, and explains key parameters.

## Loading CSV (Comma-Separated Values)

In [11]:
    import pandas as pd
# Load comma-separated CSV
csv_df = pd.read_csv("data_samples/example.csv")
# print(type(csv_df))
print("CSV Data (comma-separated):")
print(csv_df)

CSV Data (comma-separated):
      Name  Age         City
0    Alice   25     New York
1    David   62        Paris
2      Bob   30  Los Angeles
3  Charlie   35      Chicago
4  William   43      Toronto

## Loading SSV (Semicolon-Separated Values)

In [12]:
# Load semicolon-separated file
ssv_df = pd.read_csv("data_samples/example.ssv", sep=';')
print("CSV Data (semicolon-separated):")
print(ssv_df)

CSV Data (semicolon-separated):
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

## Key Parameters in `read_csv`
- `sep`: Defines the separator (default is `,`)
- `header`: Row number to use as column names (0-indexed)
- `index_col`: Column to use as row labels
- `names`: List of column names to use if no header

In [20]:
# Demonstrate use of 'header' and 'names'
custom_df = pd.read_csv("data_samples/example.csv", header=0, names=["FullName", "YearsOld", "Location"])
print("CSV with custom column names:")
print(custom_df)

CSV with custom column names:
  FullName  YearsOld     Location
0    Alice        25     New York
1    David        62        Paris
2      Bob        30  Los Angeles
3  Charlie        35      Chicago
4  William        43      Toronto

In [21]:
# Demonstrate index_col
indexed_df = pd.read_csv("data_samples/example.csv", index_col="Name")
print("CSV with 'Name' as index:")
print(indexed_df)

CSV with 'Name' as index:
         Age         City
Name
Alice     25     New York
David     62        Paris
Bob       30  Los Angeles
Charlie   35      Chicago
William   43      Toronto

## Loading JSON File

In [26]:
# Load JSON file
json_df = pd.read_json("data_samples/example.json")
print("JSON Data:")
print(json_df)

json_df.head()  # Show first five rows
json_df.tail()  # Show last five rows
json_df.describe() # statistics of your data frame (only on numerical value)
json_df['Age']

JSON Data:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

0    25
1    30
2    35
Name: Age, dtype: int64